:root {
    --blue:
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  
    font-family: 'Roboto', sans-serif;
    background-color: #fffafa;
}
.hero-container{
    height: 800px;
    background-image: url("https://zuri.team/img/hero-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    
}
.logo{
    margin: auto;
    display: flex;
    margin-top: 69px;
    padding-bottom: 69px;
}
.logo-img{
    margin: auto;
}
.hero{
    max-width: 700px                                                        ;
   margin: 0 auto;
   text-align: center;
   padding: 10px;
}
.hero h2{
    font-size: 32px;
    font-weight: 800px;
    text-align: center;
    line-height: 48px;
    margin-bottom: 36px;
    color:  #514949;
}
.hero p{
    font-size: 16px;
    line-height: 24px;
    color: #514949;
    opacity: 0.9;
}
a{
    text-decoration: none;
    color:  #E7332B;
}

.btn-div{
    margin-top: 92px;
}
.btn{
    padding: 11px 28px;
    border: 1px solid #E7332B;
    font-size: 16px;
    line-height: 13.3px;
}
.industry{
    background-color:  #E7332B;
    color: #fff;
}
.industry:hover{
    background-color:#fff ;
    color: #E7332B;
}
.experience{
    color: #E7332B;
    background-color: #fff;
}
.experience:hover{
    background-color: #E7332B;
    color: #fff;
}
.zuri-team {
    text-align: center;
    margin-top: 9em;
  }
  
  h6 {
    color: #e7332b;
    font-size: 14px;
    line-height: 24px;
  }
  
  .p {
    font-size: 1.5em;
    justify-content: center;
    width: 25%;
    margin: auto;
    opacity: 0.8;
    line-height: 40px;
    padding-top: 1em;
  }
  
  
  
  .zuri-box {
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-around;
    margin: 4em auto;
   
  }
  
  .Zuri-logo {
    margin: 2rem 1rem 4rem;
    height: 6.25em;
  }
  
  .zuri-box-two {
    margin-bottom: 5em;
    padding: 2em;
    width: 75%;
    background-color: #fffafa;
    margin-left: 1.8em;
    line-height: 25px;
    color: #514949;
    opacity: 0.9;
   
  }
  
  .zuri-links {
    margin-top: 1.8em;
    margin-bottom: 4.5rem;
  }
  
  .footer-container {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 4.3rem;
  }
  
  .footer-links {
    color: #514949;
  }
  
  h4 {
    padding-bottom: 0.7rem;
  }
  li {
    list-style-type: none;
    color: #514949;
    opacity: 0.9;
    padding-bottom: 0.9rem;
    font-size: 0.9em;
  }
  
  .address {
    width: 87%;
    margin: 0 auto;
  }
  
  .SM-icons {
    display: flex;
    justify-content: space-around;
  }
  
  .icons {
    width: 1.8em;
    height: 1.8em;
    padding: 6px;
  }
  
  hr {
    width: 70%;
    margin: 0 auto;
    color: #514949;
    opacity: 0.5;
  }
  
  .copyright {
    text-align: center;
    color: #514949;
    font-weight: 700;
    margin-top: 2.7em;
    margin-bottom: 8em;
    line-height: 24px;
  }
  
  
  
  
  /* RESPONSIVE STYLINGS */
  
  
  @media (max-width: 768px) {
  
  
    header {
    min-height: 300px;
    background-size: contain;
    }
  
  
    .header-content {
      color: #514949;
      opacity: 1.0;
     
    }
  
    h1{
      font-size: 1.5em;
      margin: 3em 0em 1.2em 0em; 
      
    }
  
    .header-text {
      opacity: 1;
      margin-top: 3.1rem;
      margin-bottom: 3.7rem; 
    }
    
  
     .talent-training-box {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      justify-content: space-between;
      padding: 40px;
      
    } 
  
  
    .training {
      margin: 30px auto;
    }
    
  
    .talent {
      margin: auto;
    }
  
    .p {
      font-size: 1.5em;
      width: 90%;
      line-height: 36px;
      margin-bottom: 3em;
    }
  
  
    .zuri-box {
      display: flex;
      flex-direction: column;
      width: 90%;
     
    }
  
  
    .zuri-box-two {
      margin-bottom: 2em;
      width: 90%;
      background-color: #fffafa;
     
    }
  
  
    .footer-container {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 10rem;
    }
    
  .footer-logo {
    margin-bottom: 2.5em;
    width: 50%;
  }
  
  .footer-links {
    margin-bottom: 2em;
  }
  
  
    h4 {
      padding-bottom: 0.5em;
      font-size: 1.2em;
    }
  
    .SM-icons {
      display: flex;
      justify-content: center;
    }
  
  
  
  }
  
  